<ion-view>
    <ion-nav-title >
        <h1 class="title">My Twitter Feed</h1>
    </ion-nav-title>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="left">
        <ion-nav-buttons side="left">&nbsp;&nbsp;&nbsp;
            <button class=" button-icon button-clear nav-left-button ion-navicon "
                    ng-click="openMenu()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header padding">
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <img ng-src="{{user[0].user.profile_image_url}}"/>
                    <input type="text" placeholder="What's happening?" ng-model="tweet.message" ng-maxlength="140">
                </label>
              <!--<input type="submit" value="SubmitPhoto" ng-click="makePhoto()"/>-->
              <!--<input ng-model="photo"-->
                     <!--onchange="angular.element(this).scope().file_changed(this)"-->
                     <!--type="file" accept="image/*" />-->
              <button class="button button-small" ng-click="submitTweet(tweet.message)">
                    Tweet
                </button>
            </div>
            <!--<img id="myImage" src=""/>-->
        </div>
        <div class="subtitle" ng-controller="filterPopoverCtrl" >
            <button ng-click="openPopover($event)"
                    class=" button-clear ">filter
            </button>
        </div>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div ng-show="home_timeline.length == 0">Loading tweets...</div>

        <div ng-repeat="entry in home_timeline" class="list card" ui-sref="detail({key:entry.id})">
            <div class="item item-avatar">
                <img ng-src="{{entry.user.profile_image_url}}"/>
                <h2>{{entry.user.name}}</h2>
                <p>{{correctTimestring(entry.created_at) | date:'medium'}}</p>
            </div>

            <div class="item item-body">
                <p ng-bind-html="entry.text"></p>
                <img ng-if="entry.extended_entities" ng-src="{{ entry.extended_entities.media[0].media_url }}"
                     style="width: 100%;" onerror="img/faq_loaderror.gif"/>
            </div>

        </div>

      <ion-infinite-scroll ng-if="action" on-infinite="loadMoreData()" distance="1%">
      </ion-infinite-scroll>

    </ion-content>
</ion-view>
