<ion-view>
    <ion-nav-buttons side="left">
        <button ng-click="$root.goBack()"
                class=" button-icon button-clear nav-left-button ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="view-title">Setting</div>
    </ion-nav-title>
    <ion-content>
        <ion-toggle ng-model="loadImage.checked"
                    ng-checked="loadImage.checked">
            {{ loadImage.text }}
        </ion-toggle>
        <ion-item>
            <div ng-controller="LogoutCtrl">
                <button class="button button-assertive button-block" ng-click="tryLogout()">
                    logout
                </button>
            </div>
        </ion-item>
    </ion-content>
</ion-view>